body{
    background-color: #222831;
    text-align: center;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    margin-right: auto;
  }
  
  nav{
      background-color: #222831;
      opacity: 0.4;
  }
  .navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar a,
  .cta,
  .overlay__content a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #eeeeee;
    text-decoration: none;
  }
  
  .navbar li {
    padding: 20px 20px;
  }
  
  .navbar li a {
    transition: all 0.3s ease 0s;
  }
  
  .navbar li a:hover {
    color: #00BFFF;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .navbar,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  

.top{
     padding-top: 463px;
     background-color: #00BFFF;
     position: relative;
        }

.name{
    position: relative;
    color: rgb(78, 78, 78);
    margin-left: 70px; 
    margin-top: -130px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

p.name{
    font-size: 20px;
    margin-bottom:40px;
}

h1{
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    
 }

h2{ 
    font-family: 'Lato', sans-serif;
    font-size: 28px;    
    color: #eeeeee;
 
}


p{
    color: #00BFFF;
    font-family: 'Lato', sans-serif;  
    font-size: 18px;
}

a{
    color: #eeeeee;
}

.gif1{
    height:200px;
    position: absolute;
    margin-top: -370px;
    margin-left: 200px;
}
.gif2{
    position: absolute;
    height: 200px;
    margin-left: -40px;
    margin-top: -30px;
}

.mountain{
    position: relative;
    height:     320px;
    margin-right: 0px;
    margin-top: 42px;   
}


.profile_pic{
    padding-top: 50px;
    position: relative;
    height: 200px;
}

.about{
    width: 800px;
    text-align: left;
    margin: 0 auto;
}

hr{
    background-color: #00BFFF
}

.skills{
    width: 800px;
    text-align: center;
    margin: 0px auto;

}

.skills li{
    margin: 20px 0;
    text-align: left;
    list-style: none;
}

.bar{
    background: #0f4c75;
    display: block;
    height: 7px;
    border: 1px solid rgba(255, 255,255, 0.2); /* rgba(255, 255,255, 0.4) rgba(0,0,0, 0.4) */
    border-radius: 3px;
    box-shadow: 0 0 10px #0f4c75;
}

.bar span{
    height: 6px;
    float: left;
    background: #eeeeee;
}

.python{
    width: 85%;
}
.webscrap{
    width: 75%;
}
.ml{
    width: 65%;
}
.dl{
    width: 60%;
}

.html{
    width: 75%;
}

.css{
    width: 60%;
}

.btn-resume {
    
	background:linear-gradient(to bottom, #00BFFF 5%, #0f4c75 100%);
	background-color:#00BFFF;
	border-radius:20px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Lato', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:20px 35px;
    margin-bottom: 20px;
}
.btn-resume:hover {
	background:linear-gradient(to bottom, #0f4c75 5%, #00BFFF 100%);
	background-color:#019ad2;
}
.btn-resume:active {
	position:relative;
	top:1px;
}



