body{
    background-color: #222831; /*#222831 */
    text-align: center;
    margin: 0;
}

nav{
    height: 80px;
    width: 100%;    
    margin: 0;
    padding: 0;
    background-color: #0007;  
}

nav ul{
    margin: 0;
    margin-right: 100px ;
    float: right;
    
}

nav li{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 4.5;
    list-style: none;
    display: inline-block;
    height: 80px;
    width: 100px;  
    padding: 0px;
    margin-top: 0px;
}

a{
    text-decoration: none;
}

nav li:hover{
    background-color: #00BFFF;
    transition: 0.5s all;
}

nav li:hover{
    color: #222831;
    transition: 0.5s all;
}

.profile-pic{
    height: 80px;
    float: left;
    margin-left: 100px;
}

.top{
     padding-top: 0;
     background-color: #00BFFF;
     position: relative;
}

.name{
    position: relative;
    color: rgb(78, 78, 78);
    margin: 185px auto 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

p.name{
    font-size: 20px;
    margin: 20px auto 33px;
}

h1{
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    
 }

h2{ 
    font-family: 'Lato', sans-serif;
    font-size: 28px;    
    color: #eeeeee;
 
}

h3{ 
    font-family: 'Lato', sans-serif;
    font-size: 20px;    
    font-weight: normal;
    color: #eeeeee;
}



p{
    color: #00BFFF;
    font-family: 'Lato', sans-serif;  
    font-size: 18px;
}

a{
    color: #eeeeee;
}

.gif1{
    height:200px;
    position: absolute;
    margin-top: 45px;
    margin-left: 180px;
}
.gif2{
    position: absolute;
    height: 200px;
    margin-left: -120px;
    margin-top: -80px;
}

.mountain{
    position: relative;
    height: 320px;
    margin: auto;
}


.about{
    color: #00BFFF;
    font-family: 'Lato', sans-serif;  
    font-size: 18px;
    width: 800px;
    text-align: left;
    margin: 20px auto;
    line-height: 1.5;
}

.youtube{
    width: 800px;
    height: 450px;
    margin: 50px auto;
}

.skills{
    width: 800px;
    text-align: center;
    margin: 0px auto;

}

.skills li{
    margin: 20px 0;
    text-align: left;
    list-style: none;
}

.bar{
    background: #0f4c75;
    display: block;
    height: 7px;
    border: 1px solid rgba(255, 255,255, 0.2); 
    border-radius: 3px;
    box-shadow: 0 0 50px #0f4c75;
}

.bar span{
    height: 6px;
    float: left;
    background: #eeeeee;
}

.python{
    width: 85%;
}
.webscrap{
    width: 75%;
}
.ml{
    width: 65%;
}
.dl{
    width: 60%;
}

.html{
    width: 75%;
}

.css{
    width: 60%;
}

.btn, .btn-gh{
    
	background:linear-gradient(to bottom, #00BFFF 5%, #0f4c75 100%);
	background-color:#00BFFF;
	border-radius:20px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Lato', sans-serif;
	font-size:15px;
	font-weight:bold;
    padding:20px 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.btn-gh{
    padding:10px 20px;
    border-radius:10px;
}

.btn:hover, .btn-gh:hover {
	background:linear-gradient(to bottom, #0f4c75 5%, #00BFFF 100%);
	background-color:#019ad2;
}

.btn:active, .btn-gh:active {
	position:relative;
	top:1px;
}


.contact-form{
    width: 700px;
    margin: 50px auto 0;
}
.contact-form-text{
    margin-top: 40px;
    display: block;
    width: 100%;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid rgba(255, 255,255, 0.5); 
    border-radius: 3px;
    box-shadow: 0 0 10px #ffffff;
}

.contact-form-text:focus {
    border: 2px solid rgb(255, 255,255); 
    border-radius: 3px;
    box-shadow: 0 0 20px #00BFFF;
}

textarea.contact-form-text{
    height: 300px;
}

.btn-contact{
    margin-top: 60px;
}

.footer{
    margin-top: 50px;
    height: 150px;
    line-height: 100px;
    background-color: #00BFFF;
}

.foot-a{
    padding: 10px;
    color: #222831;
    font-family: 'Ubuntu', sans-serif;
}

.logos-contact{
    height: 25px;
    width: 25px;
}

.foot-p{
    color:black;
    margin-top: -47px;
    font-family: 'Ubuntu', sans-serif;
}

.bg{
    background-color: #00BFFF;
}

.tree1, .tree2{
    position: relative;
    height: 250px;
    margin: -100px 200px -18px;


}

.projects{
    width: 800px;
    margin: 50px auto;
    line-height: 1.5;
}

.m-tree1, .m-tree2{
    display: none;
}


/* Media queries for Mobiles */
@media (max-width: 500px) {

    nav{
        height: 70px;
    }
    
    nav ul{
        float:right;
        margin: 0;
        line-height: 2.2;
    }

    .profile-pic{
        height: 70px;
        width: 70px;
        margin: 0;
        
        }
    
        nav{
            height: 70px;
        }
        
        nav ul{
            margin: 0;
            padding: 0;
            float: right;
            
        }
        
        nav li{
            font-size: 0.9em;
            line-height: 5;
            height: 70px;
            width: 60px;  
        }

    .mountain{
        width: 100% ;
    }

    .gif1{
        height:100px;
        margin-top: 6em;
        margin-left: 5.8em;
    }
    .gif2{
        position: absolute;
        height: 100px;
        margin-left: 0px;
        margin-top: -2em;
    }

    .tree1, .tree2{
        display: none; 
    }

    .about , .skills, .github{
        width: 100%;
        font-size: 1rem;
        padding: 2%;
    }

    .m-tree1{   
        display: inline-block;
        position: relative;
        height: 10em;
        width: 3em;
        float: right;
        margin-top: -5rem;
        margin-right: 1rem;

    }
 
    .m-tree2{   
        display: inline-block;
        position: relative;
        height: 10rem;
        width: 3rem;
        margin-top: -5rem;
        margin-left: -14rem;
    }
    
    .projects{
        width: 100%;
    }

    .contact-form{
        width: 90%;
        margin: auto;
    }

    .youtube{
        width: 100%;
        height: 80%;
    }

    
    
}

/* Media queries for Tablets */
@media (min-width: 500px) and (max-width:1023px){
    .tree1, .tree2{
        display: none; 
    }

    .profile-pic{
        float: left;   
        margin-left:  
    }

    .m-tree1{   
        display: inline-block;
        position: relative;
        height: 10em;
        width: 3em;
        float: right;
        margin-top: -5rem;
        margin-right: 10.5rem;

    }
 
    .m-tree2{   
        display: inline-block;
        position: relative;
        height: 10rem;
        width: 3rem;
        margin-top: -5rem;
        margin-left: -10rem;
    }
    

}

/* Media queries for Laptops*/
@media (min-width: 1024px) and (max-width:1440px){
    
    .tree1{
        margin-left: -15rem;
        margin-bottom: -2.25rem;
    }

    .tree2{
        margin-top: -20rem;
        margin-left: 40rem;
    }

}

