body{
    background-color: #222831;
    text-align: center;
    margin: 0;
}

.try{
    height: 700px;
    width: 1600px;
}

.top{
     padding-top: 65px;
     background-color: #222831; /* 00BFFF*/
     position: relative;
        }

.name{
    
    font-family: 'Pacifico', cursive;
    color: #ffff;
}

h1{
    position: relative;
    color: #ffff;
    margin-left: 70px; 
    margin-top: -50px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    
 }

h2, h3{font-family: 'Lato', sans-serif;}

p{
    color: #00adb5;
    margin-left: 70px; 
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;   
    font-size: 20px;
}

.gif1{
    position: relative;
    margin-top: -50px;
    margin-left: 600px;
}
.gif2{
    position: relative;
    height: 250px;
    margin-left: -500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mountain{
    position: relative;
    height: 400px;
    margin-right: 0px;
    margin-top: -35px;   
}


.profile_pic{
    padding-top: 50px;
    position: relative;
    height: 200px;

}

hr{
    background-color: #00BFFF
}